<html ng-app="TrackPriceApp" ng-csp>

<head>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="highlight.js"></script>
    <link rel="stylesheet" href="index.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/cart.factory.js"></script>
    <script src="../js/cart.controller.js"></script>
</head>

<body ng-controller="getPage">
    <div ng-repeat="item in db">
        <div ng-bind="item.selectedPrice"></div>
        <div ng-bind="item.url" ng-click="gotolink(item.url)"></div>
    </div>
</body>

</html>